<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>bookTradingApp | <%= user.username %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link rel="stylesheet" href="/styles/styles.css" />

</head>
<body class="sticky-footer-body">

  <main>

    <nav>
      <div class="nav-wrapper">
        <div class="container">
          <a href="/" class="brand-logo">bookTradingApp</a>
          <a href="javascript:void(0)" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li class="active"><a href="/profile/<%= user._id %>">Profile</a></li>
            <li><a href="/logout">Log out</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li class="active"><a href="/profile/<%= user._id %>">Profile</a></li>
            <li><a href="/logout">Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="section">
      <h3 class="text-color center-align">Profile Settings</h3>
      <div class="container">
      <% if (message && message.length > 27) { %>
        <div class="row">
          <div class="col m8 offset-m2 s12 center-align">
            <div class="card-panel red lighten-4 red-text text-darken-4">
              <%= message %>
            </div>
          </div>
        </div>
      <% } else if (message && message.length === 27) { %>
        <div class="row">
          <div class="col m8 offset-m2 s12 center-align">
            <div class="card-panel green lighten-4 green-text text-darken-4">
              <%= message %>
            </div>
          </div>
        </div>
      <% } %>
        <form method="POST" action="/profile/<%= user._id %>">
          <div class="row">
            <div class="input-field col m8 offset-m2 s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="fullName" type="text" name="fullName" data-length="20" data-name="<%= user.name %>">
              <label for="icon_prefix">Full Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col m8 offset-m2 s12">
              <i class="material-icons prefix">location_city</i>
              <input id="city" type="text" name="city" data-length="20" data-city="<%= user.city %>">
              <label for="city">City</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col m8 offset-m2 s12">
              <i class="material-icons prefix">flag</i>
              <input id="state" type="text" name="state" data-length="20" data-state="<%= user.state %>">
              <label for="state">State / Country</label>
            </div>
          </div>
          <div class="row center-align">
            <button class="btn waves-effect waves-light button" type="submit">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>

  </main>

  <footer class="page-footer dark-blue">
    <div class="footer-copyright dark-blue">
      <div class="container white-text">
        © 2017 Panagiotis Zisis
        <a class="right white-text" href="https://www.freecodecamp.com/panagiotiszisis" target="_blank">My FCC Account</a>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <script src="/scripts/profile.js"></script>
  <script src="/scripts/profileValues.js"></script>
</body>
</html>